{
  "extends": [
    "@vadistic/eslint-config",
    "@vadistic/eslint-config/preset/typecheck",
    "@vadistic/eslint-config/preset/prettier"
  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "rules": {}
}
