{
  "extends": [
    "@vadistic/eslint-config",
    "@vadistic/eslint-config/preset/typecheck"
    // "@vadistic/eslint-config/preset/prettier"
  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "rules": {
    "no-useless-concat": "off",

    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],

    "@typescript-eslint/brace-style": ["error", "stroustrup", { "allowSingleLine": true }],

    "@typescript-eslint/explicit-function-return-type": ["error"]
  }
}
